.interFont{
    font-family: 'inter';
    color: white;
}

#bootScreen{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

html, body{
    height: 100%;
    margin: 0;
}

#bootlogo{
    height: 12%;
    aspect-ratio: 1/1;
    object-fit: contain;
    background-color: black;
    border-radius: 9999px;
    border: 8px solid white;
    margin-bottom:10px;
}

#outerLoadingBar{
    overflow: hidden;
    background-color: rgb(68, 68, 68);
    height: 0.5%;
    aspect-ratio: 24/1;
    margin-top: 24px;
    border-radius: 9999px;
}

#innerLoadingBar{
    height: 100%;
    width: 0%;
    background-color: white;
    animation: loadBar 3s ease-out forwards;
}

@keyframes loadBar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}